<!DOCTYPE html>
<html>
    <title> Youtube2Spotify</title>
    <body>
        <h1> Convert your songs from a Youtube Playlist to a Spotify Playlist (by slowly downloading them individually tf) </h1>
        <p> Enter any valid URL of a Youtube video or playlist (playlist must be unlisted or public). </p>
        <form action="/download" method="POST">
            <input type="text" id="url" name="url"><br>
            <input type="submit" id="submit" value="Start Download">
        </form>
    </body>
</html>